---
title: CSS stylesheet
---

/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Type
   ========================================================================== */

@font-face {
    font-family: 'nittigrotesk-bold';
    src:
    url('{{ site.baseurl }}/fonts/nittigrotesk-bold-v201-web/NittiGrotesk-Bold.eot') format('embedded-opentype'), 
    url('{{ site.baseurl }}/fonts/nittigrotesk-bold-v201-web/NittiGrotesk-Bold.woff') format('woff'),
    url('{{ site.baseurl }}/fonts/nittigrotesk-bold-v201-web/NittiGrotesk-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'nittigrotesk-regular';
    src: 
    url('{{ site.baseurl }}/fonts/nittigrotesk-normal-v201-web/NittiGrotesk-Regular.eot') format('embedded-opentype'),
    url('{{ site.baseurl }}/fonts/nittigrotesk-normal-v201-web/NittiGrotesk-Regular.woff') format('woff'),
    url('{{ site.baseurl }}/fonts/nittigrotesk-normal-v201-web/NittiGrotesk-Regular.woff2') format('woff2');
}

:root {
  --primary-text-color: #2C2F2E;
  --secondary-text-color: #999999;
  --soft-gray: #CFCFCF;
  --accent-color: #44c5a2;
}

h1 {
    font-family: nittigrotesk-bold;
    font-size: 32px;
    font-weight: 500;
    color: var(--primary-text-color);
}

h2 {
    font-family: nittigrotesk-bold;
    font-size: 28px;
    font-weight: 500;
    color: var(--primary-text-color);  
    margin: 0; 
}

p {
    font-family: nittigrotesk-regular;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    color: var(--primary-text-color);
    margin-top: 0;
}

li {
    font-family: nittigrotesk-regular;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

.understate {
    color: var(--soft-gray);
}

.detail {
    font-family: nittigrotesk-regular;
}

.home-detail {
    color: var(--primary-text-color);
    margin-bottom: 8px; 
}

.project-detail {
    color: var(--secondary-text-color);  
}

.home-blurb {
 color: var(--secondary-text-color);
 margin-bottom: 24px;     
}

.link {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

.inline-link {
    text-decoration: underline;
    font-size: 21px;
}

.chinese-text {
    font-size: 17px;
    line-height: 32px;
    margin-bottom: 40px;
}

@media (min-width: 600px) {
    h1 {
        font-size: 42px;
        line-height: 62px;
    }
}

/* ==========================================================================
   Nav Styles
   ========================================================================== */

.logo {
    margin-right: 50px;
}

.nav-link {
    color: var(--primary-text-color);
}

.nav-item {
    align-self: baseline;
    color: var(--primary-text-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}

/* ==========================================================================
   Layout
   ========================================================================== */

nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 3%;
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    nav {
        justify-content: flex-start;
    }
}

.page-wrapper {
    padding: 0 3%;
    max-width: 680px;
    margin: 0 auto;
}

.hero-heading {
    margin-bottom: 80px;
}

.project-heading {
    margin-bottom: 0px;
}

.project-block {
    margin-bottom: 80px;
}

.home-image {
    width: 100%;
    margin-bottom: 16px;
}

.project-image {
    width: 100%;
    margin-bottom: 30px;
}

.project-links-container {
    margin: 40px 0 60px 0;
    display: flex;
    justify-content: space-between;
}

.image-container {
    margin-top: 50px;
}

@media (min-width: 600px) {
    
    nav {
        padding: 50px 3%;
    }

    .hero-copy {
        margin-top: 40px;
        margin-bottom: 100px;
    }
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    margin: 80px auto 0 auto;
    max-width: 1000px;
    border-top: 1px solid var(--soft-gray);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 3%;
    max-width: 240px;
    margin: 0 auto;
}

.icon-wrapper {
    fill: var(--soft-gray);
}

.icon-wrapper:hover {
    fill: var(--accent-color);
}

.icon {
    height: 30px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
