---
layout: default
title: home page
description:
---

<div class="page-wrapper">

	<h1 class="hero-heading">
		Designer and Founder in between Chicago and China. <span class="understate">Creating products using human-centered design informed by data.</span>
	</h1>

	{% assign sorted_projects = site.pages | sort:"order" %}
	{% for projects in sorted_projects %}
	{% if projects.layout == 'project' %}

	<div class="project-block">
		<a href="{{ site.baseurl }}{{ projects.url }}">
		<img class="home-image" src="{{ site.baseurl}}/img/index/{{ projects.card_image }}" alt="{{ page.pretty_title }} Project"></a>
		<h2>{{ projects.pretty_title }}</h2>
		<p class="detail home-detail">{{ projects.details }}</p>
		<p class="home-blurb">{{ projects.blurb }}</p>
		<a class="link" href="{{ site.baseurl }}{{ projects.url }}">View Project</a>
	</div>

	{% endif %}
	{% endfor %}

</div>